*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.primary-section{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
nav>ul{
    display: flex;
    gap: 10px;
    
}
nav>ul>li{
    list-style: none;
}
.container{
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}
.main-banner{
    text-align: center;
    padding: 50px 0;

}
.main-banner>h1{
    font-size:64px ;
    font-weight: 700;
}
.main-banner>img{
    width: 100%;
}
.btn-primary{
    text-decoration: none;
    background-color:#FF900E;
    padding: 10px 20px;
    color: white;
    font-size:18px ;
    border-radius: 5px;
}

/* photo galarty */
.photo-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
.photo-galary{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.photo-galary > img{
    height: 100%;
    width: 100%; 
}
.photo-galary-text>h1{
    font-size:35px ;
    font-weight: 900;
}

/* feature section */
/* .feature-text{
    display: flex;
    ;

} */
.feature-section{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.line{
    position: absolute;
    width: 5px;
    height: 106px;
    background-color: orange;
    margin-right: 15px;
}
.feature-title{
    margin-left: 21px;
    font-size: 25px;
}
.feature{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.feature-image img{
    width: 100%;
    opacity: 0.87;
    
    
} 

.middle-button{
   
    background-color: #FF900E;
    font-weight: 900;
    width: 200px;
    padding: 10px;
    
    margin: -20px auto;
    text-align: center;
    border-radius: 10px;
    color: #FFF4E7;
    z-index: 1;
    
}

/* achivement section */



.achivement-container{
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 10px;
}

.achivement{
    margin: 0 auto;
    border: 1px solid #FF900E;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.achivement:hover{
    margin: 0 auto;
    border: 1px solid #FF900E;
    width: 50%;
    text-align: center;
    transform: rotate(365deg);
    transition: transform 2s;
    border-radius: 10px;
}


.sponsor{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;

}
.sponsor h1{
    font-size: 32px;
    font-weight: 700;
}


.sponsors-logo{
    
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    justify-content: space-evenly;
    align-items: center;
    filter: grayscale(1);
    /* flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap	;
     */
    
}

.news{
    text-align: center;
    border: 1px solid lightgray;
    padding: 25px;
    margin-top: 60px;
}
footer{
    background-color: #FFF4E7;
    margin-top:40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
@media only screen and (max-width:576px) {
    .photo-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .photo-galary{
        
        width: 75%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .feature-section{
        margin-top: 80px;
        
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .achivement-container{
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        gap: 10px;
    }
    .sponsors-logo{
    
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:30px;
        justify-content: space-evenly;
        align-items: center;
        filter: grayscale(1);
        /* flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap	;
         */
        
    }
}
